<% if object.errors.any? %>
  <div id="error_messages">
    <h2>Form is invalid</h2>
    <p>
      The following <%= pluralize(object.errors.count, "error") %> prevented this <%= object.class.to_s.underscore.humanize.downcase %> from being saved:
    </p>
    <ul class="errors">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
