<% if @user.errors.any? %>
  <div id="error_messages">
    <h2>Form is invalid</h2>
    <p>
      The following <%= pluralize(@user.errors.count, "error") %> prevented your registration from being saved:
    </p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
