<h1>Wishlist</h1>
<p>The purpose of Wishlist is twofold.</p>

<h2>One</h2>
<p>When you log in, you can create a <em>wantlist</em>, which is a list of things you would like to receive. (Obviously, there is no guarantee that you will get everything you wanted.)</p>

<p>Due to technical limitations and poor planning, I cannot call this a wishlist, because that is the name of the app.</p>

<h2>Two</h2>
<p>When logged in, you may also browse other people's wantlists. If there is something you would like to buy for that person, you can add it to your <em>claimlist</em>. This tells everybody else (except the person who created the wantlist) that the item has been claimed, hopefully avoiding situations where a person receives multiples of the same gift.</p>

<p>If there is something you would like to get a person, but is not on his/her wantlist, you can add it as a hidden item and claim it. Everybody except for the wantlist owner will be able to see it.</p>
